/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'UMITOOLS_EXTRACT' {
        ext.args = { 
            def args = ["--bc-pattern=${params.umi_pattern}"]
            def threshold = params.umi_quality_filter_threshold ?: 0
            if (threshold > 0) {
                args.add("--quality-filter-threshold=${threshold}")
                args.add("--quality-encoding=phred33")
            }
            args.join(' ')
        }
        publishDir = [
            path: { "${params.outdir}/umitools/extract" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'UMITOOLS_DEDUP' {
        ext.args = { "--method=${params.umi_method}" }
        ext.prefix = { "${meta.id}.dedup" }
        publishDir = [
            [
                path: { "${params.outdir}/umitools/dedup" },
                mode: params.publish_dir_mode,
                pattern: "*.bam"
            ],
            [
                path: { "${params.outdir}/umitools/dedup/stats" },
                mode: params.publish_dir_mode,
                pattern: "*.tsv"
            ],
            [
                path: { "${params.outdir}/umitools/dedup/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }
}
