// iGenomes configuration file
// This file is used to configure the iGenomes reference files

params {
    // Config name for nf-core/configs
    config_profile_name = 'iGenomes'
    config_profile_description = 'Built-in iGenomes reference genome files'

    // iGenomes base path
    igenomes_base = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore = false

    // Available genomes
    genomes {
        'Homo_sapiens/Ensembl/GRCh38' {
            fasta = 'Homo_sapiens/Ensembl/GRCh38/Sequence/WholeGenomeFasta/genome.fa'
            gtf = 'Homo_sapiens/Ensembl/GRCh38/Annotation/Genes/genes.gtf'
        }
        'Homo_sapiens/NCBI/GRCh38' {
            fasta = 'Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa'
            gtf = 'Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf'
        }
        'Mus_musculus/Ensembl/GRCm39' {
            fasta = 'Mus_musculus/Ensembl/GRCm39/Sequence/WholeGenomeFasta/genome.fa'
            gtf = 'Mus_musculus/Ensembl/GRCm39/Annotation/Genes/genes.gtf'
        }
        'Mus_musculus/NCBI/GRCm39' {
            fasta = 'Mus_musculus/NCBI/GRCm39/Sequence/WholeGenomeFasta/genome.fa'
            gtf = 'Mus_musculus/NCBI/GRCm39/Annotation/Genes/genes.gtf'
        }
    }
}

